<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    beStricAboutTestsThatDoNotTestAnything="true"
>
    <php>
        <ini name="error-reporting" value="-1" />
    </php>

    <testsuites>
        <testsuit name="Project Test Suite">
            <directory>tests</directory>
        </testsuit>
    </testsuites>
</phpunit>